@model WebApplication2.Models.Settings
@{
    ViewBag.Title = "Config";
}

<h2>App Config</h2>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
       

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        
        <table class="table">
            <caption>AppConfig:</caption>
           
                <tr>
                    <td>
                        @Html.LabelFor(m => m.OutputDirectory)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => modelItem.OutputDirectory)
                    </td>
                </tr>
            <tr>
                <td>
                    @Html.LabelFor(m => m.SourceName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => modelItem.SourceName)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(m => m.LogName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => modelItem.LogName)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(m => m.ThumbnailSize)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => modelItem.ThumbnailSize)
                </td>
            </tr>
            
            </table>
            <table class="table">
                <caption>Handlers:</caption>
                @foreach (var item in Model.Handlers)
                {
                    @*<tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.DirectoryName)

                        </td>
                    </tr>*@
                    <tr>
                        <td>
                            @Html.ActionLink(item.DirectoryName, "RemoveHandler", new { handler = item.DirectoryName })
                        </td>
                    </tr>
                    @*<td>
                        @Html.DisplayFor(modelItem => item.Salary)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Phone)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                        <td>
                            @Html.ActionLink("Edit", "Edit", new { id= item.ID }) |
                            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
                        </td>*@
                }
            </table>
        
</div>
}
